* {
    box-sizing: border-box;
}

body {
    background-color: orange;
    font-family: "Arial", "sans-serif";
    color: white;
}

#Players {
    width: 975px;
    text-align: center;
    margin: auto;
}

#Grid {
    width: 744px;
    margin: auto;
}

#NextTurn {
    width: 150px;
    margin: auto;
}

.card {
    background-color: orangered;
    border: solid black 2px;
    display: inline;
    width: 120px;
    height: 120px;
    margin: 2px;
}