* {
    box-sizing: border-box;
}

body {
    background-color: orange;
}

#Players {
    width: 975px;
    margin: auto;
}

#Grid {
    width: 744px;
    margin: auto;
}

.card {
    background-color: orangered;
    border: solid black 2px;
    display: inline;
    width: 120px;
    height: 120px;
    margin: 2px;
}